/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


.nav-logo{
  text-align: left;
}
.nav-heading h1{
  text-align: right;
}
.navber-menu{
  flex-direction: row;
  justify-content: end;
}
.navber-menu a{
  padding: 5px 10px;
  margin: 30px 0;
 
}
/* profile start */
.profilo .top-weater-icon{
  position: absolute;
  right: 100px;
  top: 20px;
  transition:width 2s; transform: 2s;
}
.profilo .top-weater-icon:hover{
  width: 140px;
}
.profilo-desc p{
  color: gray;
  margin: 0 auto ;
  width: 50%;
  margin-bottom: 10px;
}
/* profile end */

/*about me start*/
.aboutme-image{
  margin-top: 50px;

}
.aboutme-image img{
  height: 300px;
  width: 300px;
}
.aboutme-desc p{
  text-align: left;
}





/*about me end*/
professional experient start

.professional-experience{
  padding: 1% 5%;
}
professional experient end
 /*contact me start*/



.achievement{
  padding-right: 50px;
}

.contact button{

  width: 100px; 
}
.contact-links{
  position: relative;
}
.media-buttons{
  position: absolute;
  margin-top: 150px;
  left: 50%;
  top:50%;
  transform: translate(-50%);
}


 /* contact me end*/
  /*footer start here*/
  .footer-mune{
    margin-top: 12px;
  }
  .footer-mune a{
    display: inline;
    margin: 10px;
  }
 /* footer end here*/




